.centralBlock {
    display: block;
    
    background-color: lightblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    /*text-align: left;*/
    margin: 10px;
    padding: 10px;
    border: 1px solid lightcoral;
    border-radius: 10px;
    width:30%;
}

.navbar-custom {
    background-color: #241F21 !important;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
        